* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #f7f3f3;
  --primary-bg-color: var(--white);
  --secondary-bg-color: #e3e8ed;
  --primary-text-color: #2563eb;
  --secondary-text-color: #111827;
  --tertiary-text-color: rgba(17, 24, 39, 0.4);
  --icon-color: var(--secondary-text-color);
  --button-bg: #3474f3;
  --button-text: #f7f3f3;
  --btn-outline-border: 1px solid #e3e8ed;
  --btn-filled-bg: #e3e8ed;
  --tab-hover-color: #eff2f5;
}

html.dark {
  --primary-bg-color: #111827;
  --secondary-bg-color: #172135;
  --primary-text-color: #2563eb;
  --secondary-text-color: var(--white);
  --tertiary-text-color: #abadb2;
  --icon-color: var(--white);
  --btn-outline-border: 1px solid #172135;
  --btn-filled-bg: #172135;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 10px;
  line-height: 1.2;
  background: var(--primary-bg-color);
  color: var(--secondary-text-color);
}
header,
section,
footer {
  width: 100vw;
  max-width: 1440px;
  padding: 9.2em 11.2em;
  margin: 0 auto;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
p.lead {
  font-size: 700;
}
h1 {
  font-size: 6em;
}

h2 {
  font-size: 4.8em;
}
h3 {
  font-size: 3.6em;
}
h4 {
  font-size: 3em;
}
h5 {
  font-size: 2.4em;
}

p.lead {
  font-size: 2em;
  text-align: justify;
}

.body-text,
li {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 153.7%;
}

big {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 158.7%;
}
small {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 15px;
}

/* Button */

button {
  all: unset;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  padding: 1.2em 2.1em;
  transition: 0.2s linear;
}

button.filled {
  color: var(--button-text);
  background: var(--button-bg);
}

button.outlined {
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

button.outlined:hover {
  background: #2563eb;
}

button.filled:hover {
  background: #497dee;
}

button:focus {
  background: #134fd2;
}

button.outlined:disabled {
  color: rgba(73, 125, 238, 0.5);
  border: var(--btn-outline-border);
  background: none;
}

button.filled:disabled {
  color: rgba(73, 125, 238, 0.5);
  background: var(--btn-filled-bg);
}

/* Tag */

.tag {
  padding: 3px 8px;
  background: var(--secondary-bg-color);
  border-radius: 3px;
}

/* Header */
header {
  padding-top: 0;
  padding-bottom: 0;
}
header .container {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 15px;
  transition: 0.2s linear;
}

nav a span {
  display: block;
  width: 1.8em;
  height: 1.8em;
}

nav a .ic-github {
  background: url(res/icon/gh.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
nav a .ic-sun {
  background: url(res/icon/sun.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Hero */

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4em;
}

#hero h1 {
  text-align: center;
}

#hero p.lead {
  max-width: 800px;
}

ul.skills-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.6em;
  flex-wrap: wrap;
  max-width: 800px;
}

.skills-list .skill {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.skills-list .skill img {
  width: auto;
  height: 14px;
}

/* experiences */

.tab-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6.4em;
  margin-top: 4.2em;
  transition: 0.3s;
}

.tab-wrapper small {
  color: var(--tertiary-text-color);
}

.tab-wrapper big span {
  color: var(--primary-text-color);
}

.tab-title-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tab-title {
  border-radius: 5px;
  padding: 3em 2em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  cursor: pointer;
}

.tab-title:hover {
  background: var(--tab-hover-color);
}

.tab-title.active {
  background: var(--secondary-bg-color);
}

.tab-content {
  width: 50%;
}

.tab-content-description {
  list-style-image: url(res/icon/list-chevron-right.svg);
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 2.8em;
  margin-top: 2.8em;
}

/* Project */
.project-container {
  display: grid;
  gap: 4.8em;
  grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  /* flex-wrap: wrap; */
}

.project {
  /* max-width: 40%; */
  padding: 2.6em;
  border-radius: 10px;
  margin-top: 4.2em;
  border: var(--btn-outline-border);
}

.project:hover {
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.project:hover .project-image {
  transform: scale(1.01);
}
h3.project-title {
  margin-bottom: 26px;
}

.project-image {
  width: 100%;
  border-radius: 15px;
}

.project-tag-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 2.6em 0;
}

.project-tag-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.project-link {
  display: flex;
  gap: 16px;
}
.project-link img {
  width: auto;
  height: 24px;
}
